<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

		<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap-theme.min.css') }}">
		<link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
	</head>	

	<body>
		
		<div class="container-fluid Main">
			Uh oh. We couldn't find what you were looking for. :(
		</div>

		<!-- Latest compiled and minified JavaScript -->
		<script src="{{ url_for('static', filename='scripts/bootstrap.min.js') }}"></script>	
	</body>
</html>
