/** Element Selectors **/
html, body {
	max-height: 100%;
	margin: 0;
}

h1 {
	color: #333;
	font-size: 3rem;
}

h1 a {
	color: #333;
}

h1 a:hover {
	color: #333;
	text-decoration: none;
}

hr {
	margin: 10px 0px;
	padding: 0;
}

a.active {
	color: #333;
}

/** General purpose Class Selectors **/
.text-center {
	text-align: center;
}


/** Media Queries **/
@media(min-width:992px) {
 	height: 100%;

	.Main {
		height: 100%;
	}

	.Main--left-menu {
		border-right: 1px solid #eee;
		height: 100%;
	}
}

/** Class Selectors **/
.Main{
}

.Main {

}

.Main--left-menu {

}


.Main--left-menu ul {
	list-style-type: none;
	margin-top: 30px;
	padding-left: 5px;
}

.Main--left-menu li {
	height: 3rem;
	font-size: 1.7rem;
}

.Main--content {

}

